{% extends "base.html" %}
{% block title %}Upload new File{% endblock %}
{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
			<p class="text-warning">{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
        <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
        <br><p>Hochladen der .wiff Datei:<br>
      <input type=file name=file>
        <br><br>Hochladen der entsprechenen .wiff.scan Datei:<br>
      <input type=file name=scan>
      <input type=submit value=Upload>
    </form>
    {% endblock %}