{% extends "base.html" %}
{% block title %}Upload new File{% endblock %}
{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
			<p class="text-warning">{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
        <title>Jadzia</title>

Logger:
<br>
date: [13:12, 13.02.2023], id: 123456_adebbsi_, process: DONE, name: 'T1D untersucht nach m/z = 500.000 +/- 0.1'
<br>
date: [13:01, 13.02.2023], id: 123456_adebbsi_, process: PROCESS, name: 'T1D untersucht nach m/z = 500.000 +/- 0.1'
<br>
date: [13:01, 13.02.2023], id: 34389ofn2389c8fe, process: DONE, name: 'T1D untersucht nach im HighResolution Filter m/z = 500.000 +/- 0.1'
<br>
date: [13:00, 13.02.2023], id: 123456_adebbsi_, process: AQUIERED, name: 'T1D untersucht nach m/z = 500.000 +/- 0.1'
<br>
date: [12:57, 13.02.2023], id: 34389ofn2389c8fe, process: PROCESS, name: 'T1D untersucht nach im HighResolution Filter m/z = 500.000 +/- 0.1'
<br>
date: [13:55, 13.02.2023], id: d282nj32rw121ed2, process: DONE, name: 'T1D TIC plotten'
<br>
date: [13:46, 13.02.2023], id: d282nj32rw121ed2, process: PROCESS, name: 'T1D TIC plotten'
<br>
date: [13:45, 13.02.2023], id: 34389ofn2389c8fe, process: AQUIERED, name: 'T1D untersucht nach im HighResolution Filter m/z = 500.000 +/- 0.1'
<br>
date: [13:45, 13.02.2023], id: d282nj32rw121ed2, process: AQUIERED, name: 'T1D TIC plotten'
{% endblock %}

