{% extends "base.html" %}
{% block title %}New Process{% endblock %}
{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
			<p class="text-warning">{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
        <title>Process the File</title>
    <h1>Create a new process</h1>
<form method="post">
  <div class="form-group">
    <label for="filename">Select File Name:</label>
    <select class="form-control" id="filename" name="filename">
   	 {% for file in filename %}
     		 <option value="{{ file }}">{{ file }}</option>
   	 {% endfor %}
 	 </select><br><br>
  </div>
  <div class="form-group">
    <label for="modus">Select Modus:</label>
    <select class="form-control" id="modi" name="modi">
     {% for modus in modi %}
     		 <option value="{{ modus }}">{{ modus }}</option>
   	 {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}